# Processing data with pandas


```{attention}

**These tutorials are meant to help you with assignment tasks by giving hints, not to teach Python programming in a detailed step-by-step manner.**

<br/>
As mentioned in the first lecture of the course, this course requires basic knowledge of Python programming language. 

If you are not familiar with them, try catching up with the basics as fast as you can. Some useful resources are: <br/>

[pandas online documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/dsintro.html)

<br/>

[Python for Data Analysis (3rd Edition, 2022)](https://wesmckinney.com/book/)

```

Our assignment 1 is about to learn how to read and explore data files in Python. We will focus on using [pandas](https://pandas.pydata.org/pandas-docs/stable/) which is an open-source package for data analysis in Python. pandas is an excellent toolkit for working with *real world data* that often have a tabular structure (rows and columns).

## Input data: Community Crime Statistics Map

Our input data in this tutorial is a text file containing community crimes statistics map in city of Calgary, Alberta, Canda retrieved from [City of Calgary Open Data Portal](https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics-Map/n24v-9r86):

- File name: [Community_Crime_Statistics_20240120.csv] (you can have a look at the file before reading it in using pandas!)
- You can download the data from the link provided: [City of Calgary Open Data Portal](https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics-Map/n24v-9r86)
- Data is provided monthly by the Calgary Police Service. And includes the location of crime, time, category, crime count, and resident count.
- There are totally 67,262 rows and 10 columns in this dataset.

## Loading Data

Next, we wll read the input data file, and store the contents of that file in a variable called `data` Using the `pandas.read_csv()` function:

In [1]:
# Importing the libraries
import pandas as pd

In [2]:
# load data

# Read the file using pandas
data = pd.read_csv("Community_Crime_Statistics_20240120.csv", sep=',')

```{admonition} Reading different file formats
Check out the [pandas documentation about input and output functions](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5) and [Chapter 6](https://wesmckinney.com/book/accessing-data) in McKinney (2022) for more details about reading data.
```

Let’s now print the dataframe and see what it looks like. 

We can use the `data.head()` function of the pandas DataFrame object to quickly check the top rows. We can also check the last rows of the data using `data.tail()`

In [3]:
# print the first 5 rows of data
data.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,Month,ID,Community Center Point
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619.0,2022/04,2022,APR,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686)
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,OCT,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228)
2,EAST,DOVER,Theft OF Vehicle,5,10351.0,2022/12,2022,DEC,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409)
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906.0,2020/12,2020,DEC,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574)
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382.0,2019/08,2019,AUG,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437)

In [4]:
# print the last 5 rows of data
data.tail()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,Month,ID,Community Center Point
67257,EAST,SOUTHVIEW,Break & Enter - Commercial,1,1805.0,2023/12,2023,DEC,2023-DEC-SOUTHVIEW-Break & Enter - Commercial,POINT (-113.99733916298928 51.03415221260387)
67258,NORTH,SAGE HILL,Theft FROM Vehicle,1,7924.0,2023/12,2023,DEC,2023-DEC-SAGE HILL-Theft FROM Vehicle,POINT (-114.14068609335015 51.175616972779984)
67259,CENTRE,WINSTON HEIGHTS/MOUNTVIEW,Break & Enter - Commercial,1,3635.0,2023/12,2023,DEC,2023-DEC-WINSTON HEIGHTS/MOUNTVIEW-Break & Ent...,POINT (-114.04184874950579 51.075298802175126)
67260,CENTRE,SOUTH CALGARY,Street Robbery,1,4442.0,2023/12,2023,DEC,2023-DEC-SOUTH CALGARY-Street Robbery,POINT (-114.10207470148995 51.02680215136445)
67261,NORTHEAST,SKYLINE EAST,Break & Enter - Commercial,1,0.0,2023/12,2023,DEC,2023-DEC-SKYLINE EAST-Break & Enter - Commercial,POINT (-114.03893128621468 51.10015261262966)

Let's see some basic info about the data (The number of column, rows, the data type of each column etc.)

In [5]:
# Check the data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67262 entries, 0 to 67261
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sector                  67231 non-null  object
 1   Community Name          67262 non-null  object
 2   Category                67262 non-null  object
 3   Crime Count             67262 non-null  int64
 4   Resident Count          67193 non-null  float64
 5   Date                    67262 non-null  object
 6   Year                    67262 non-null  int64
 7   Month                   67262 non-null  object
 8   ID                      67262 non-null  object
 9   Community Center Point  67231 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 5.1+ MB

Also some basic stats about numerical values in columns that contain numbers (`Crime count`, `Resident count`, `Year`)

In [6]:
# Cehck the data description
data.describe()

        Crime Count  Resident Count          Year
count  67262.000000    67193.000000  67262.000000
mean       2.879932     6498.019883   2020.460379
std        3.681941     5456.475655      1.713162
min        1.000000        0.000000   2018.000000
25%        1.000000     2263.000000   2019.000000
50%        2.000000     5957.000000   2020.000000
75%        3.000000     9244.000000   2022.000000
max      110.000000    25710.000000   2023.000000

## Basic Calculations in DataFrame

One of the most common things to do in pandas is to create new columns based on calculations between different variables (columns).

Let's say we want to create a new column in which we want to calculate the "Crime Count +1". We can create a new column `new_crime_count` in our DataFrame by specifying the name of the column and giving it some default value (in this case the decimal number 0.0).

In [7]:
# Define a new column "ew_crime_count"
data["new_crime_count"] = 0.0

# Check how the dataframe looks like:
data

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,Month,ID,Community Center Point,new_crime_count
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619.0,2022/04,2022,APR,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686),0.0
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,OCT,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228),0.0
2,EAST,DOVER,Theft OF Vehicle,5,10351.0,2022/12,2022,DEC,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409),0.0
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906.0,2020/12,2020,DEC,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574),0.0
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382.0,2019/08,2019,AUG,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437),0.0
...,...,...,...,...,...,...,...,...,...,...,...
67257,EAST,SOUTHVIEW,Break & Enter - Commercial,1,1805.0,2023/12,2023,DEC,2023-DEC-SOUTHVIEW-Break & Enter - Commercial,POINT (-113.99733916298928 51.03415221260387),0.0
67258,NORTH,SAGE HILL,Theft FROM Vehicle,1,7924.0,2023/12,2023,DEC,2023-DEC-SAGE HILL-Theft FROM Vehicle,POINT (-114.14068609335015 51.175616972779984),0.0
67259,CENTRE,WINSTON HEIGHTS/MOUNTVIEW,Break & Enter - Commercial,1,3635.0,2023/12,2023,DEC,2023-DEC-WINSTON HEIGHTS/MOUNTVIEW-Break & Ent...,POINT (-114.04184874950579 51.075298802175126),0.0
67260,CENTRE,SOUTH CALGARY,Street Robbery,1,4442.0,2023/12,2023,DEC,2023-DEC-SOUTH CALGARY-Street Robbery,POINT (-114.10207470148995 51.02680215136445),0.0
67261,NORTHEAST,SKYLINE EAST,Break & Enter - Commercial,1,0.0,2023/12,2023,DEC,2023-DEC-SKYLINE EAST-Break & Enter - Commercial,POINT (-114.03893128621468 51.10015261262966),0.0

Now let’s update the column `new_crime_count` by calculating the the column `Crime Count` + 1.

In [8]:
# Calculate `Crime Count` + 1
data["new_crime_count"] = data["Crime Count"] + 1

# Check the result
data.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,Month,ID,Community Center Point,new_crime_count
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619.0,2022/04,2022,APR,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686),3
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,OCT,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228),3
2,EAST,DOVER,Theft OF Vehicle,5,10351.0,2022/12,2022,DEC,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409),6
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906.0,2020/12,2020,DEC,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574),3
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382.0,2019/08,2019,AUG,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437),4

You can even calculate the sum of two columns. For example:  `data["new_column"] = data["Crime Count"] + data["Resident Count"]`

## Selecting rows and columns

One common way of selecting only specific rows from your DataFrame is done via this syntax: `dataframe[start_index:stop_index]`

Let’s select the first six rows and assign them to a variable called `selection`:

In [9]:
# Select first five rows of dataframe using row index values
selection = data[0:6]

# Print `selection`
selection

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,Month,ID,Community Center Point,new_crime_count
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619.0,2022/04,2022,APR,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686),3
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,OCT,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228),3
2,EAST,DOVER,Theft OF Vehicle,5,10351.0,2022/12,2022,DEC,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409),6
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906.0,2020/12,2020,DEC,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574),3
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382.0,2019/08,2019,AUG,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437),4
5,SOUTH,LAKE BONAVISTA,Theft OF Vehicle,2,10293.0,2022/08,2022,AUG,2022-AUG-LAKE BONAVISTA-Theft OF Vehicle,POINT (-114.05133665127042 50.939803390308995),3

It is also possible to control which columns are chosen when selecting a subset of rows. In this case we will use `pandas.DataFrame.loc` which selects data based on axis labels (row labels and column labels) with this syntax : `.loc[start_index:stop_index, list_of_columns]`

Let’s select "Category" and "Crime Count" values from rows 0-5:

In [10]:
# Select the two column values on rows 0-5
selection = data.loc[0:5, ["Category", "Crime Count"]]

# Print `selection`
selection

                 Category  Crime Count
0        Theft OF Vehicle            2
1        Theft OF Vehicle            2
2        Theft OF Vehicle            5
3  Assault (Non-domestic)            2
4      Theft FROM Vehicle            3
5        Theft OF Vehicle            2

## Filtering and updating 



### Filter Columns:

Sometimes we don't need all the information in the data. We can select specific columns based on the column values. The basic syntax is `dataframe[value]`, where value can be a single column name, or a list of column names.  

For example, I don't need the collumn `Month` and want to keep other columns.

In [11]:
# Keep all columns except the Month column
data = data[['Sector', 'Community Name', 'Category', 'Crime Count', 'Resident Count', 'Date', 'Year', 'ID', 'Community Center Point']]

In [12]:
data.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,ID,Community Center Point
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619.0,2022/04,2022,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686)
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228)
2,EAST,DOVER,Theft OF Vehicle,5,10351.0,2022/12,2022,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409)
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906.0,2020/12,2020,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574)
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382.0,2019/08,2019,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437)

Or we can drop the column by using the `.drop()` function. (e.g. `data.drop('Month', axis=1, inplace=True)`)
axis=1 means drop the column, inplace=True means drop the column in the original data, (for droping roaws we can use axis=0 which means drop the row)

In [ ]:
# drop the extra columns
data.drop(['Month'], axis=1, inplace=True)

### Filter Rows

One really useful feature in pandas is the ability to easily filter and select rows based on a conditional statement.

In [13]:
# Select rows that are in 2023
crimes_2023 = data.loc[data["Year"] > 2022]

# Print `crimes_2023`
crimes_2023.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,ID,Community Center Point
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228)
10,CENTRE,ROSEDALE,Break & Enter - Dwelling,1,1560.0,2023/04,2023,2023-APR-ROSEDALE-Break & Enter - Dwelling,POINT (-114.07820713414625 51.062686663226856)
15,CENTRE,TUXEDO PARK,Theft OF Vehicle,3,5326.0,2023/08,2023,2023-AUG-TUXEDO PARK-Theft OF Vehicle,POINT (-114.06104493215598 51.07421777158121)
30,NORTHEAST,CALGARY INTERNATIONAL AIRPORT,Theft FROM Vehicle,8,0.0,2023/05,2023,2023-MAY-CALGARY INTERNATIONAL AIRPORT-Theft F...,POINT (-114.01171665690258 51.123556453987604)
96,CENTRE,ALTADORE,Theft OF Vehicle,1,6942.0,2023/04,2023,2023-APR-ALTADORE-Theft OF Vehicle,POINT (-114.10078239468564 51.015954118298694)

Or even multiple conditions at the same time:

In [14]:
# filter the data to show crime with crime count greater than 2 for year 2023
crime_2023_selected = data.loc[(data["Year"] > 2022) & (data["Crime Count"] >= 2)]

# Print `crime_2023_selected`
crime_2023_selected.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,ID,Community Center Point
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153.0,2023/10,2023,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228)
15,CENTRE,TUXEDO PARK,Theft OF Vehicle,3,5326.0,2023/08,2023,2023-AUG-TUXEDO PARK-Theft OF Vehicle,POINT (-114.06104493215598 51.07421777158121)
30,NORTHEAST,CALGARY INTERNATIONAL AIRPORT,Theft FROM Vehicle,8,0.0,2023/05,2023,2023-MAY-CALGARY INTERNATIONAL AIRPORT-Theft F...,POINT (-114.01171665690258 51.123556453987604)
1423,CENTRE,BANKVIEW,Theft OF Vehicle,3,5256.0,2023/10,2023,2023-OCT-BANKVIEW-Theft OF Vehicle,POINT (-114.10048318978971 51.0341275275111)
2817,SOUTHEAST,COPPERFIELD,Theft OF Vehicle,4,13823.0,2023/01,2023,2023-JAN-COPPERFIELD-Theft OF Vehicle,POINT (-113.92948572283696 50.91781382287359)

## Data Cleaning 

### Dealing with missing data

As you have learned, most of the time when we work with data, we face missing values or incomplete data.
We can check the number of missing values in Dataframe with this syntax:

In [15]:
# print the number of missing values in each column
data.isnull().sum()

Sector                    31
Community Name             0
Category                   0
Crime Count                0
Resident Count            69
Date                       0
Year                       0
ID                         0
Community Center Point    31
dtype: int64

As we can see, in Column "Sector", "Resident Count", and "Community Center Pint" we have 31, 69, 31 missing values respectively.

OThere are many way to handle missing values based on the application. One way of cleaning data is to remover rows with missing values. If we want to remove the missing values based on column (only remove those rows that are missing the value in specific column) we can use this syntax: `.dropna(subset=['column_name'], inplace=True)`

In [ ]:
# drop the rows with missing values for column "Community Center Point"
data.dropna(subset=['Community Center Point'], inplace=True)

In [17]:
# print the number of missing values in each column
data.isnull().sum()

Sector                     0
Community Name             0
Category                   0
Crime Count                0
Resident Count            38
Date                       0
Year                       0
ID                         0
Community Center Point     0
dtype: int64

As we can see, we remove all the mrows that had missing values for column "Community Center Point".
If we want to remove all the row that has any missing value, no matter in which column, we can use this syntax:

In [ ]:
# remove all the rows with missing values
data.dropna(inplace=True)

In [19]:
# print the number of missing values in each column
data.isnull().sum()

Sector                    0
Community Name            0
Category                  0
Crime Count               0
Resident Count            0
Date                      0
Year                      0
ID                        0
Community Center Point    0
dtype: int64

### Removing Duplicates

Duplicate rows may be found in a DataFrame for any number of reasons. 

The DataFrame method `duplicated` returns a Boolean Series indicating whether each row is a duplicate (its column values are exactly equal to those in an earlier row) or not:

In [22]:
# check for duplicate rows
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
39180     True
64308     True
40839     True
26188     True
50834     True
Length: 67529, dtype: bool

In [23]:
# count all the duplicate rows
data.duplicated().sum()

336

Relatedly, `drop_duplicate`s returns a DataFrame with rows where the `duplicated` array is `False` filtered out:

In [26]:
# drop the duplicate rows
data.drop_duplicates(inplace=True)

# print the number of duplicate rows
data.duplicated().sum()

0

```{note}

You can check for more infromation about data cleaning with pandas by looking at : [Data Cleaning and Preparation](https://wesmckinney.com/book/data-cleaning)

```

## Data type conversions

There are occasions where you’ll need to convert data stored within a Series to another data type, for example, from floating point to integer.

For values in pandas DataFrames and Series, we can use the `.astype()` method.

In [27]:
## Data type conversions

data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67193 entries, 0 to 67261
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sector                  67193 non-null  object
 1   Community Name          67193 non-null  object
 2   Category                67193 non-null  object
 3   Crime Count             67193 non-null  int64
 4   Resident Count          67193 non-null  float64
 5   Date                    67193 non-null  object
 6   Year                    67193 non-null  int64
 7   ID                      67193 non-null  object
 8   Community Center Point  67193 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 5.1+ MB

As we can see the type of "Resident Count" is float64. We want to convert this column type to integer:

In [31]:
# convert the "Resident Count" to integer
data["Resident Count"] = data["Resident Count"].astype(int)

# print the data info
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67193 entries, 0 to 67261
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sector                  67193 non-null  object
 1   Community Name          67193 non-null  object
 2   Category                67193 non-null  object
 3   Crime Count             67193 non-null  int64
 4   Resident Count          67193 non-null  int32
 5   Date                    67193 non-null  object
 6   Year                    67193 non-null  int64
 7   ID                      67193 non-null  object
 8   Community Center Point  67193 non-null  object
dtypes: int32(1), int64(2), object(6)
memory usage: 4.9+ MB

### Datetime

In pandas, we can also convert dates and times into a new data type called [datetime](https://docs.python.org/3.7/library/datetime.html) using the [pandas.to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) function.

In [32]:
# Convert character strings to datetime
data["NEW_DATE"] = pd.to_datetime(data["Date"])

# print the data info
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67193 entries, 0 to 67261
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sector                  67193 non-null  object
 1   Community Name          67193 non-null  object
 2   Category                67193 non-null  object
 3   Crime Count             67193 non-null  int64
 4   Resident Count          67193 non-null  int32
 5   Date                    67193 non-null  object
 6   Year                    67193 non-null  int64
 7   ID                      67193 non-null  object
 8   Community Center Point  67193 non-null  object
 9   NEW_DATE                67193 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int32(1), int64(2), object(6)
memory usage: 5.4+ MB

C:\Users\rezas\AppData\Local\Temp\ipykernel_40012\943271513.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data["NEW_DATE"] = pd.to_datetime(data["Date"])

As we can see, the new column `NEW_DATE` has the type of "datetime64" which is the format of datetime in pandas. From now on pandas underestand that this is a date and time and the sequence in time series matter.

```{admonition} Pandas Series datetime properties
There are several methods available for accessing information about the properties of datetime values. You can read more about datetime properties [from the pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties).
```

With the datetime column, we can now extract different time units using the [pandas.Series.dt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) accessor.

In [33]:
# print NEW_DATE column 
data["NEW_DATE"].dt.year

0        2022
1        2023
2        2022
3        2020
4        2019
         ...
67257    2023
67258    2023
67259    2023
67260    2023
67261    2023
Name: NEW_DATE, Length: 67193, dtype: int32

In [35]:
# print NEW_DATE column 
data["NEW_DATE"].dt.month

0         4
1        10
2        12
3        12
4         8
         ..
67257    12
67258    12
67259    12
67260    12
67261    12
Name: NEW_DATE, Length: 67193, dtype: int32

In [36]:
# print NEW_DATE column 
data["NEW_DATE"].dt.day

0        1
1        1
2        1
3        1
4        1
        ..
67257    1
67258    1
67259    1
67260    1
67261    1
Name: NEW_DATE, Length: 67193, dtype: int32

### Iterating over rows

We can use an operation on the DataFrame one row at a time using a `for` loop and the [iterrows()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html) method. This will allow us to iterate row by row using `iterrows()` in a `for` loop to repeat a given process *for each row in a pandas DataFrame*. Please note that iterating over rows is a rather inefficient approach, but it is still useful to understand the logic behind the iteration.

When using the `iterrows()` method it is important to understand that `iterrows()` accesses not only the values of one row, but also the `index` of the row as well. 

Let's start with a simple for loop that goes through each row in our DataFrame.

In [41]:
# Iterate over the rows
for idx, row in data.iterrows():

    # Print the index value
    print(f"Index: {idx} \n\n")


    # Print the row
    print(f"Row :\n\n{row}\n")

    break

Index: 0


Row :

Sector                                                       NORTHWEST
Community Name                                             ARBOUR LAKE
Category                                              Theft OF Vehicle
Crime Count                                                          2
Resident Count                                                   10619
Date                                                           2022/04
Year                                                              2022
ID                               2022-APR-ARBOUR LAKE-Theft OF Vehicle
Community Center Point    POINT (-114.20767498075155 51.1325947114686)
NEW_DATE                                           2022-04-01 00:00:00
Name: 0, dtype: object

```{admonition} Breaking a loop
When developing code in a `for` loop, you do not always need to go through the entire loop in order to test things out. 
The [break](https://docs.python.org/3/reference/simple_stmts.html#break) statement in Python terminates the current loop whereever it is placed and we can use it here just to check out the values on the first row (based on the first iteration in the `for` loop.
This can be helpful when working with a large data file or dataset, because you might not want to print thousands of values to the screen!
For more information, check out [this tutorial](https://www.tutorialspoint.com/python/python_break_statement.htm).
```

We can see that the `idx` variable indeed contains the index value at position 0 (the first row) and the `row` variable contains all the data from that given row stored as a pandas `Series`.

Let’s now as an example create an empty column "Year Check" and check if crime year is greater than 2022 in a new column "Year Check" we enter "new", else "old".

In [43]:
# iterate in the dataframe and check if year is greater than 2022 in a new column "Year Check" enter "new" else "old"
for idx, row in data.iterrows():
    if row["Year"] > 2022:
        data.loc[idx, "Year Check"] = "new"
    else:
        data.loc[idx, "Year Check"] = "old"

Finally, let's see how our DataFrame looks like now after the calculations above.

In [44]:
# print the first 5 rows of data
data.head()

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,ID,Community Center Point,NEW_DATE,Year Check
0,NORTHWEST,ARBOUR LAKE,Theft OF Vehicle,2,10619,2022/04,2022,2022-APR-ARBOUR LAKE-Theft OF Vehicle,POINT (-114.20767498075155 51.1325947114686),2022-04-01,old
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153,2023/10,2023,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228),2023-10-01,new
2,EAST,DOVER,Theft OF Vehicle,5,10351,2022/12,2022,2022-DEC-DOVER-Theft OF Vehicle,POINT (-113.99305400906283 51.02256772250409),2022-12-01,old
3,CENTRE,GREENVIEW,Assault (Non-domestic),2,1906,2020/12,2020,2020-DEC-GREENVIEW-Assault (Non-domestic),POINT (-114.05746990262463 51.09485613506574),2020-12-01,old
4,NORTHWEST,HAMPTONS,Theft FROM Vehicle,3,7382,2019/08,2019,2019-AUG-HAMPTONS-Theft FROM Vehicle,POINT (-114.14668419231347 51.14509283969437),2019-08-01,old

## Aggregating data in pandas by grouping

Here, we will learn how to use [pandas.DataFrame.groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html), which is a handy method for combining large amounts of data and computing statistics for subgroups.

In our case, we will use the groupby method to calculate the average number of crimes for each year through these three steps:

  1. Grouping the data based on the year
  2. Calculating the average for each month (each group) 
  3. Storing those values into a new DataFrame called `yearly_data`

We have rows of crime data, and several observations per month. Our goal is to create an aggreated data frame that would have only one row per year. (average crime count per year)

To condense our data to yearly average values we can group our data based on the unique year.

We can use `NEW_DATE` column, which we previously define and `datetime` format. We try to group this column on yearly basis and calculate the average number of crime for each group.

In [50]:
# group the data by "Date" on yearly basis and calculate average of "Crime Count"
grouped_data = data.groupby(data["NEW_DATE"].dt.year)

Now, let’s explore the new variable `grouped_data`.

In [58]:
# print grouped data
print(f"Type of grouped data is : {type(grouped_data)}")

print(f"Length of grouped Data: {len(grouped_data)}\n")

Type of grouped data is : <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
Length of grouped Data: 6

We have a new object with type `DataFrameGroupBy` with 6 groups. Length of the grouped object should be the same as the number of unique values in the column we used for grouping. For each unique value, there is a group of data. (in this example we have data for 6 years)

Let's explore our grouped data even further. 

We can check the "names" of each group.

In [60]:
# Print grouoped data keys

grouped_data.groups.keys()

dict_keys([2018, 2019, 2020, 2021, 2022, 2023])

````{note}
It is also possible to create combinations of two or more columns on-the-fly when grouping the data:
    
```python
# Group the data 
grouped = data.groupby(['column1', 'column2'])
```
````

### Accessing data for one group

Let us now check the contents for the group representing 2023 (the name of that group is `2023`. We can get the values of that year from the grouped object using the `get_group()` method.

In [62]:
# Specify a month (as character string)
year = 2023

# Select the group
group_2023 = grouped_data.get_group(year)

In [63]:
# Let's see what we have
group_2023

,Sector,Community Name,Category,Crime Count,Resident Count,Date,Year,ID,Community Center Point,NEW_DATE,Year Check
1,CENTRE,BANFF TRAIL,Theft OF Vehicle,2,4153,2023/10,2023,2023-OCT-BANFF TRAIL-Theft OF Vehicle,POINT (-114.11512839716917 51.07421633024228),2023-10-01,new
10,CENTRE,ROSEDALE,Break & Enter - Dwelling,1,1560,2023/04,2023,2023-APR-ROSEDALE-Break & Enter - Dwelling,POINT (-114.07820713414625 51.062686663226856),2023-04-01,new
15,CENTRE,TUXEDO PARK,Theft OF Vehicle,3,5326,2023/08,2023,2023-AUG-TUXEDO PARK-Theft OF Vehicle,POINT (-114.06104493215598 51.07421777158121),2023-08-01,new
30,NORTHEAST,CALGARY INTERNATIONAL AIRPORT,Theft FROM Vehicle,8,0,2023/05,2023,2023-MAY-CALGARY INTERNATIONAL AIRPORT-Theft F...,POINT (-114.01171665690258 51.123556453987604),2023-05-01,new
96,CENTRE,ALTADORE,Theft OF Vehicle,1,6942,2023/04,2023,2023-APR-ALTADORE-Theft OF Vehicle,POINT (-114.10078239468564 51.015954118298694),2023-04-01,new
...,...,...,...,...,...,...,...,...,...,...,...
67257,EAST,SOUTHVIEW,Break & Enter - Commercial,1,1805,2023/12,2023,2023-DEC-SOUTHVIEW-Break & Enter - Commercial,POINT (-113.99733916298928 51.03415221260387),2023-12-01,new
67258,NORTH,SAGE HILL,Theft FROM Vehicle,1,7924,2023/12,2023,2023-DEC-SAGE HILL-Theft FROM Vehicle,POINT (-114.14068609335015 51.175616972779984),2023-12-01,new
67259,CENTRE,WINSTON HEIGHTS/MOUNTVIEW,Break & Enter - Commercial,1,3635,2023/12,2023,2023-DEC-WINSTON HEIGHTS/MOUNTVIEW-Break & Ent...,POINT (-114.04184874950579 51.075298802175126),2023-12-01,new
67260,CENTRE,SOUTH CALGARY,Street Robbery,1,4442,2023/12,2023,2023-DEC-SOUTH CALGARY-Street Robbery,POINT (-114.10207470148995 51.02680215136445),2023-12-01,new
67261,NORTHEAST,SKYLINE EAST,Break & Enter - Commercial,1,0,2023/12,2023,2023-DEC-SKYLINE EAST-Break & Enter - Commercial,POINT (-114.03893128621468 51.10015261262966),2023-12-01,new

Ahaa! As we can see, a single group contains a **DataFrame** with values only for that specific year. Awesome!

This is really useful, because we can now use all the familiar DataFrame methods for calculating statistics, etc. for each specific group. We can, for example, calculate the average values for all variables using the statistical functions that we have seen already (e.g. `mean`, `std`, `min`, `max`, `median`, etc.).

In our example, we can use `mean()` function to calculate average of Crime Count in each group . Let's calculate the mean for group_2023:

In [64]:
# Calculate the mean values all at one go
mean_values = group_2023["Crime Count"].mean()

# Let's see what we have
print(mean_values)

2.53085274195045

### Aggregation

Above, we saw how you can access data from a single group. In order to get information about all groups (all years) we can use a `aggregation` in groups.

In [67]:
# aggregate the grouped data by mean on only "Crime Count" column
new_aggregate_data = grouped_data.aggregate({"Crime Count": "mean"})

# print the new aggregate data
new_aggregate_data

          Crime Count
NEW_DATE
2018         3.048227
2019         3.239705
2020         2.913442
2021         2.634971
2022         2.876989
2023         2.530853

In [68]:
# we can also use the agg function to calculate on multiple columns
new_aggregate_data_02 = grouped_data.agg({"Crime Count": "sum", "Resident Count": "mean"})

# print the new aggregate data
new_aggregate_data_02

          Crime Count  Resident Count
NEW_DATE
2018            35332     6596.933224
2019            38154     6536.832555
2020            31774     6580.625527
2021            28376     6502.551676
2022            32720     6380.497142
2023            27275     6385.120627

So, we can see that in 2019 we had relatively more crime happening!

```{note}
More infromation about pandas grouping and aggregating is available in [Chapter 10: Data Aggregation and Group Operations](https://wesmckinney.com/book/data-aggregation)
```